.main{
    -fx-background-color:linear-gradient(to right,rgba(20,20,27,1) 10%, rgba(9,9,79,1) 50%, rgba(50,50,166,1) 90%);
}
.logo_logo_container{
    -fx-background-color: white;
    -fx-alignment: center;
}
.logo_logo_container Text{
    -fx-font-size:2em;
    -fx-fill:#FFFFFF;
}   
.logo_logo_container FontAwesomeIconView{
    -fx-fill:#ECF39E;   
}
.box-container{
    -fx-background-color:linear-gradient(to right, rgba(38,60,164,1) 7%, rgba(37,117,195,1) 100%);
    -fx-background-radius: 20;
}
.box-container2{
    -fx-background-color:#3b45a7;
    -fx-background-radius: 20;
}
