#boxes{
    -fx-background-radius: 50;
    -fx-background-color: white;
}
#sidebarBtn{
    -fx-background-color:#ff3333;
    -fx-background-radius: 50;

}
#sidebarBtn:hover{
    -fx-background-color:darkred;
    -fx-cursor: hand;
}

#vboxSidebar{
    -fx-background-color: #a09e9e;
    -fx-background-radius: 50;
    -fx-alignment: CENTER ;

}